$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-soc3: "\e90a";
$icon-calendar: "\e900";
$icon-dropdown: "\e901";
$icon-eye: "\e902";
$icon-arrow: "\e903";
$icon-house: "\e904";
$icon-slide_next: "\e905";
$icon-slide_prev: "\e906";
$icon-soc1: "\e907";
$icon-soc2: "\e908";
$icon-soc4: "\e909";


@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ljz6tr');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ljz6tr#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ljz6tr') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ljz6tr') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ljz6tr##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-soc3 {
  color: #50ABF5;
  &:before {
    content: $icon-soc3; 
  }
}
.icon-calendar {
  font-size: 1.4em;
  &:before {
    content: $icon-calendar; 
  }
}
.icon-dropdown {
  &:before {
    content: $icon-dropdown; 
  }
}
.icon-eye {
  position: relative;
  margin-right: 0.4em;
  font-size: 1.4em;
  &:before {
    content: $icon-eye; 
  }
}
.icon-arrow {
  &:before {
    content: $icon-arrow; 
  }
}
.icon-house {
  &:before {
    content: $icon-house; 
  }
}
.icon-slide_next {
  &:before {
    content: $icon-slide_next; 
  }
}
.icon-slide_prev {
  &:before {
    content: $icon-slide_prev; 
  }
}
.icon-soc1 {
  color: #000;
  &:before {
    content: $icon-soc1; 
  }
}
.icon-soc2 {
  color: #3A559F;
  &:before {
    content: $icon-soc2; 
  }
}
.icon-soc4 {
  color: #C536AC;
  &:before {
    content: $icon-soc4; 
  }
}

// .icon-soc1,
// .icon-soc2,
// .icon-soc3,
// .icon-soc4 {
//   font-size: 1.7em;
// }