/* Follow
-------------------------------------------------------------------------------*/
.follow {
	padding: 1.3em 0 6.5em;
	@extend %clear_a;
	@media (max-width: 1023px) {
		padding-bottom: 6em;
	}
	@media (max-width : 991px) {
		padding-bottom: 4em;
	}
	&__p {
		margin: 0;
		float: left;
		font-size: 1.3em;
		line-height: 1.3em;
		@media (max-width : 1023px) {
			line-height: 2.4em;
		}
	}
	&__soc {
		float: left;
		padding-left: 0.6em;
		margin: 0;
		display: block;
		@extend %clear_a;
		&_item {
			float: left;
			margin-left: 1.1em;
		}
		&_link {
			display: block;
			text-decoration: none;
			&:hover {
				text-decoration: none;
				opacity: 0.8;
			}
		}
		&_icon {
			font-size: 1.7em;
			@media (max-width : 1023px) {
				font-size: 3.2em;
			}
		}
	}
}