/* Breadcrumb
-------------------------------------------------------------------------------*/
.breadcrumb {
  padding: 0.69em 1.1em;
  margin-bottom: 2em;
  background-color: #F9F9F9; }
  @media (max-width: 1366px) {
    .breadcrumb {
      margin: 0 -15px; } }
  .breadcrumb__separator {
    position: relative;
    top: 0.1em;
    margin: 0 0.69em; }
  .breadcrumb li {
    display: inline-block;
    vertical-align: baseline;
    font-size: 0.8em; }
    .breadcrumb li:first-child a {
      text-decoration: none; }
    .breadcrumb li:last-child a {
      cursor: default;
      text-decoration: none; }
    .breadcrumb li a {
      color: #BCBCBC; }
